*.dll
*.pdb
*.cache
*.suo
/ArchitectureScratchpad/.vs
/ArchitectureScratchpad/ArchitectureScratchpad/obj
/ArchitectureScratchpad/ArchitechureScratchpad/bin
/ArchitectureScratchpad/ArchitectureScratchpad/bin/Debug/netcoreapp3.1
