*.dll
*.pdb
*.cache
*.suo
/ArchitectureScratchpad/.vs
/ArchitectureScratchpad/ArchitectureScratchpad/obj
/ArchitectureScratchpad/ArchitechureScratchpad/bin
/ArchitectureScratchpad/ArchitectureScratchpad/bin/Debug/netcoreapp3.1
/ArchitectureScratchpad/Physics/bin/Debug/netcoreapp3.1
/ArchitectureScratchpad/Physics/obj/Debug/netcoreapp3.1
