################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArchitectureScratchpad/.vs/ArchitectureScratchpad
/ArchitectureScratchpad/ArchitectureScratchpad/bin/Debug/netcoreapp3.1
/ArchitectureScratchpad/ArchitectureScratchpad/obj
/ArchitectureScratchpad/Desktop/obj
/ArchitectureScratchpad/Physics/bin/Debug/netcoreapp3.1
/ArchitectureScratchpad/Physics/obj
